In [1]:
import pandas as pd
df = pd.read_csv(r"D:\Vehicle_Registration_Analytics\vehicle_registrations_cleaned.csv")
df.head(5)

,Registration Year,Financial Year,Registration Month-Year,Maker Name,State,RTO Code,RTO Name,Vehicle Category,Vehicle Model,Fuel Type,Vehicle Class,Vehicle Gross Weight,Pollutiion Norm,Sale Type,Vehicle Count
0,2023,2022-2023,Mar-23,HYUNDAI MOTOR INDIA LTD,Punjab,PB19,RTO BARNALA,LIGHT MOTOR VEHICLE,CRETA 1.5 CRDI MT EX,DIESEL,Motor Car,1765,BHARAT STAGE VI,Resale,1
1,2022,2021-2022,Mar-22,TVS MOTOR COMPANY LTD,Odisha,OR26,NUAPADA RTO,TWO WHEELER(NT),TVS RADEON,PETROL,M-Cycle/Scooter,246,BHARAT STAGE VI,New,3
2,2020,2020-2021,Dec-20,TOYOTA KIRLOSKAR MOTOR PVT LTD,Karnataka,KA63,DHARWAD EAST RTO,LIGHT MOTOR VEHICLE,TOYOTA URBAN CRUISER (HIGH MT),PETROL,Motor Car,1600,BHARAT STAGE VI,New,2
3,2022,2022-2023,Sep-22,MARUTI SUZUKI INDIA LTD,Chhattisgarh,CG14,Jashpur DTO,LIGHT MOTOR VEHICLE,SWIFT LXI,PETROL,Motor Car,1335,BHARAT STAGE VI,New,1
4,2023,2023-2024,Sep-23,TATA MOTORS PASSENGER VEHICLES LTD,Karnataka,KA51,ELECTRONIC CITY RTO,LIGHT MOTOR VEHICLE,HARRIER XZ+ 2LBS6PH2 #DRK,DIESEL,Motor Car,2200,BHARAT STAGE VI,New,1

In [2]:
df.columns = df.columns.str.strip()

df_tn = df[df['State'] == 'Tamil Nadu'].copy()

df_tn.rename(columns = {'RTO Name': 'RTO_Name','Vehicle Count':' Quantity','Pollutiion Norm': 'Pollution_Norm','Maker Name':'Maker'}, inplace=True)

df_tn.head(5)

,Registration Year,Financial Year,Registration Month-Year,Maker,State,RTO Code,RTO_Name,Vehicle Category,Vehicle Model,Fuel Type,Vehicle Class,Vehicle Gross Weight,Pollution_Norm,Sale Type,Quantity
21,2024,2024-2025,Sep-24,ROYAL-ENFIELD (UNIT OF EICHER LTD),Tamil Nadu,TN21,KANCHEEPURAM RTO,TWO WHEELER(NT),CLASSIC 350,PETROL,M-Cycle/Scooter,375,BHARAT STAGE VI,New,29
46,2021,2021-2022,Apr-21,HYUNDAI MOTOR INDIA LTD,Tamil Nadu,TN06,CHENNAI (SOUTH-EAST) RTO,LIGHT MOTOR VEHICLE,VENUE 1.0 TURBO GDI DCT SX+,PETROL,Motor Car,1580,BHARAT STAGE VI,New,2
63,2021,2021-2022,Aug-21,SUZUKI MOTORCYCLE INDIA PVT LTD,Tamil Nadu,TN09,CHENNAI (WEST) RTO,TWO WHEELER(NT),GIXXER SF 250,PETROL,M-Cycle/Scooter,311,BHARAT STAGE VI,New,1
79,2024,2024-2025,Nov-24,HONDA CARS INDIA LTD,Tamil Nadu,TN58,MAYILADUTHURAI RTO,LIGHT MOTOR VEHICLE,ELEVATE ZX CVT R (I-VTEC),PETROL,Motor Car,1700,BHARAT STAGE VI,New,1
93,2020,2020-2021,Sep-20,HONDA MOTORCYCLE AND SCOOTER INDIA (P) LTD,Tamil Nadu,TN60,SRIVILLIPUTHUR RTO,TWO WHEELER(NT),SHINE DISC,PETROL,M-Cycle/Scooter,285,BHARAT STAGE VI,New,10

Categorizing vehicle's class and Defining Luxury Brands

In [3]:
def classify_type (VehicleClass):
    v_class = str(VehicleClass).upper()
    if 'MOTOR CAR' in v_class or 'FOUR WHEELER' in v_class: return 'Car'
    elif 'M-CYCLE/SCOOTER' in v_class or 'TWO WHEELER' in v_class : return 'Bike'
    elif 'AUTO' in v_class or 'THREE WHEELER' in v_class: return 'Auto'
    else: return 'commercial/other'
df_tn['Vehicle_Type'] = df_tn['Vehicle Class'].apply(classify_type)



luxury_brands = ['AUDI','BMW','LAND ROVER','MERCEDES BENZ','MINI','FERRARI','LAMBORGHINI','JAGUAR','LEXUS','PORSCHE','VOLVO']

import numpy as np

# 1. Define your Luxury Brands Pattern
# We join them with '|' which means "OR" (e.g., "BMW|AUDI|MERCEDES")
luxury_pattern = '|'.join(luxury_brands)

# 2. Create Boolean Filters (True/False lists)
# Check if it is a Car
is_car = df_tn['Vehicle_Type'] == 'Car'
# Check if the Maker Name contains a luxury brand (na=False handles blank rows)
is_luxury_maker = df_tn['Maker'].str.upper().str.contains(luxury_pattern, na=False)

# 3. Define Conditions & Choices
conditions = [
    (is_car) & (is_luxury_maker),  # Case 1: Car AND Luxury Brand
    (is_car) & (~is_luxury_maker)  # Case 2: Car AND NOT Luxury Brand (~ means NOT)
]
choices = ['Luxury Car', 'Budget Car']

# 4. Apply Logic (Instant)
# Logic: If Condition 1 is true -> 'Luxury Car'. If Condition 2 -> 'Budget Car'. 
# Else (Bikes/Autos) -> Keep original 'Vehicle_Type'
df_tn['Vehicle_Segment'] = np.select(conditions, choices, default=df_tn['Vehicle_Type'])

# Check if it worked
print(df_tn['Vehicle_Segment'].value_counts())

Vehicle_Segment
Bike                26070
Budget Car          17741
commercial/other    10706
Auto                 1189
Luxury Car            171
Name: count, dtype: int64

DATE FORMATTING

In [4]:
df['Registration Month-Year'] = pd.to_datetime(df_tn['Registration Month-Year'], format='%b-%y', errors='coerce')

print(f"Bad Data Rows: {df_tn['Registration Month-Year'].isna().sum()}")

df_tn = df_tn.dropna(subset = ['Registration Month-Year'])

print("Data cleaned! remaining rows :" , len(df_tn))

Bad Data Rows: 0
Data cleaned! remaining rows : 55877

In [5]:
df_tn.head()

,Registration Year,Financial Year,Registration Month-Year,Maker,State,RTO Code,RTO_Name,Vehicle Category,Vehicle Model,Fuel Type,Vehicle Class,Vehicle Gross Weight,Pollution_Norm,Sale Type,Quantity,Vehicle_Type,Vehicle_Segment
21,2024,2024-2025,Sep-24,ROYAL-ENFIELD (UNIT OF EICHER LTD),Tamil Nadu,TN21,KANCHEEPURAM RTO,TWO WHEELER(NT),CLASSIC 350,PETROL,M-Cycle/Scooter,375,BHARAT STAGE VI,New,29,Bike,Bike
46,2021,2021-2022,Apr-21,HYUNDAI MOTOR INDIA LTD,Tamil Nadu,TN06,CHENNAI (SOUTH-EAST) RTO,LIGHT MOTOR VEHICLE,VENUE 1.0 TURBO GDI DCT SX+,PETROL,Motor Car,1580,BHARAT STAGE VI,New,2,Car,Budget Car
63,2021,2021-2022,Aug-21,SUZUKI MOTORCYCLE INDIA PVT LTD,Tamil Nadu,TN09,CHENNAI (WEST) RTO,TWO WHEELER(NT),GIXXER SF 250,PETROL,M-Cycle/Scooter,311,BHARAT STAGE VI,New,1,Bike,Bike
79,2024,2024-2025,Nov-24,HONDA CARS INDIA LTD,Tamil Nadu,TN58,MAYILADUTHURAI RTO,LIGHT MOTOR VEHICLE,ELEVATE ZX CVT R (I-VTEC),PETROL,Motor Car,1700,BHARAT STAGE VI,New,1,Car,Budget Car
93,2020,2020-2021,Sep-20,HONDA MOTORCYCLE AND SCOOTER INDIA (P) LTD,Tamil Nadu,TN60,SRIVILLIPUTHUR RTO,TWO WHEELER(NT),SHINE DISC,PETROL,M-Cycle/Scooter,285,BHARAT STAGE VI,New,10,Bike,Bike

IMPORTING THE FILE TO POSTGRE DATABASE

In [6]:
from sqlalchemy import create_engine

db_connection_str = 'postgresql+psycopg2://postgres:root@localhost:5432/vehicle_analytics_db'
db_connection = create_engine(db_connection_str)

print("Connection established. Starting upload...")

try:
    df_tn.to_sql(name='raw_registrations', con=db_connection, if_exists = 'replace',index = False, chunksize = 10000)
    print("SUCCESS! Data has been pushed to the 'raw_registrations' table in PostgreSQL.")

except Exception as e:
    print(f"Upload Failed. Error: {e}")

Connection established. Starting upload...
Upload Failed. Error: (psycopg2.errors.DependentObjectsStillExist) cannot drop table raw_registrations because other objects depend on it
DETAIL:  view v_luxury_analysis depends on table raw_registrations
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL:
DROP TABLE raw_registrations]
(Background on this error at: https://sqlalche.me/e/20/2j85)

In [7]:
df_tn.head()

,Registration Year,Financial Year,Registration Month-Year,Maker,State,RTO Code,RTO_Name,Vehicle Category,Vehicle Model,Fuel Type,Vehicle Class,Vehicle Gross Weight,Pollution_Norm,Sale Type,Quantity,Vehicle_Type,Vehicle_Segment
21,2024,2024-2025,Sep-24,ROYAL-ENFIELD (UNIT OF EICHER LTD),Tamil Nadu,TN21,KANCHEEPURAM RTO,TWO WHEELER(NT),CLASSIC 350,PETROL,M-Cycle/Scooter,375,BHARAT STAGE VI,New,29,Bike,Bike
46,2021,2021-2022,Apr-21,HYUNDAI MOTOR INDIA LTD,Tamil Nadu,TN06,CHENNAI (SOUTH-EAST) RTO,LIGHT MOTOR VEHICLE,VENUE 1.0 TURBO GDI DCT SX+,PETROL,Motor Car,1580,BHARAT STAGE VI,New,2,Car,Budget Car
63,2021,2021-2022,Aug-21,SUZUKI MOTORCYCLE INDIA PVT LTD,Tamil Nadu,TN09,CHENNAI (WEST) RTO,TWO WHEELER(NT),GIXXER SF 250,PETROL,M-Cycle/Scooter,311,BHARAT STAGE VI,New,1,Bike,Bike
79,2024,2024-2025,Nov-24,HONDA CARS INDIA LTD,Tamil Nadu,TN58,MAYILADUTHURAI RTO,LIGHT MOTOR VEHICLE,ELEVATE ZX CVT R (I-VTEC),PETROL,Motor Car,1700,BHARAT STAGE VI,New,1,Car,Budget Car
93,2020,2020-2021,Sep-20,HONDA MOTORCYCLE AND SCOOTER INDIA (P) LTD,Tamil Nadu,TN60,SRIVILLIPUTHUR RTO,TWO WHEELER(NT),SHINE DISC,PETROL,M-Cycle/Scooter,285,BHARAT STAGE VI,New,10,Bike,Bike